.messages {
    height: auto;
    scrollbar-width: none;
}
.messages::-webkit-scrollbar {
    display: none;
}

.messages .messages-text-container, .messages a {
    width: calc(calc(100% /3) - 10px);
    margin-top: 10px;
    float: left;
}
@media screen and (max-width: 1000px) {
    .messages .messages-text-container, .messages a {
        width: 100%;
        margin-top: 10px !important;
    }
}